.caption {
    position: fixed;
    bottom: 0;
    right: 0;
}

*{
    padding: 0;
    margin: 0;
}

.bg {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(/images/desertScene1.jpg);
}

#overlay {
    width: 100%;
    height: 100vh;

    display: flex;
    justify-content: center;
    align-items: center;
}
