.caption {
    position: fixed;
    bottom: 0;
    right: 0;
}

*{
    padding: 0;
    margin: 0;
}

.bg {
    width: 100%;
    height: 100vh;
    background-position: center;
    background-size: cover;
    background-image: url(/images/desertScene1.jpg);
}

#overlay {
    width: 100%;
    height: 100vh;
    background-color:rgba(0,0,0,0.2);
    display: grid;
    grid-template-columns: 200px auto 200px;
    grid-template-rows: 200px auto 200px;
}

#cell5 {
    grid-column: 2;
    grid-row: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#cell2 {
    grid-row: 1;
    grid-column: 2;
    display: flex;
    align-items: center;
    justify-content: center;
}

#quote {
    position: relative;
    left: 300px;
    color: white;
    font-family: "Snell Roundhand", cursive;
    font-size: 50px;
    margin: 200px;
}

#author {
    position: relative;
    top: 250px;
    right: 300px;
    width: 600px;
    color: white;
    font-family: "Snell Roundhand", cursive;
    font-size: 50px;
}

.ghost-button-semi-transparent { 
    display: flex;
    width: 200px;
    height: 50px;;
    padding: 8px;
    margin: 30px;
    color: #fff; 
    border: 3px solid #fff;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    font-size:x-large;
    outline: none; 
    text-decoration: none; 
    transition: background-color 0.3s ease-out, border-color 0.3s ease-out; 
} 

.ghost-button-semi-transparent:hover, .ghost-button-semi-transparent:active { 
    background-color: #fff; /* fallback */ 
    background-color: rgba(255, 255, 255, 0.4); 
    border-color: #fff; /* fallback */ 
    border-color: rgba(255, 255, 255, 0.4); 
    transition: background-color 0.3s ease-in, border-color 0.3s ease-in; }